<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
  <head>
    <meta charset="UTF-8">
    <!--学生成绩修改-->
    <title>虹梦教育系统™</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/static/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/static/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">后台</a>
        <a href="">学生成绩管理</a>
        <a>
          <cite>学生成绩修改</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量恢复</button>
        <span class="x-right" style="line-height:40px">共有数据：88 条</span>
      </xblock>


      <table class="layui-hide" id="test" lay-filter="test"></table>

      <script th:inline="javascript">
          var path = [[${#request.contextPath}]]
      </script>
      <script th:inline="none">
          layui.use('table', function(){
              var table = layui.table;

              table.render({
                  elem: '#test'
                  ,url:path+'/scores/getScoreJsonData'
                  ,cols: [[
                      {type: 'numbers'},
                      {field:'stu_num', width:150, title: '学号', sort: true}
                      ,{field:'stu_name', width:150, title: '姓名', sort: true}
                      ,{field:'score1', width:80,title: '学科1', sort:true}
                      ,{field:'score2', width:80,title: '学科2',sort:true}
                      ,{field:'score3', width:80,title: '学科3',sort:true}
                      ,{field:'score4', width:80,title: '学科4',sort:true}
                      ,{field:'score5', width:80,title: '学科5',sort:true}
                      ,{field:'score6', width:80,title: '学科6',sort:true}
                      ,{field:'score7', width:80,title: '学科7',sort:true}
                      ,{field:'score8', width:80,title: '学科8',sort:true}
                      ,{field:'scoresum', width:80,title: '总分', minWidth: 150 ,sort:true}
                      ,{field:'scoreave', width:80,title: '平均分', minWidth: 150 ,sort:true}
                      ,{templet: '#oper-col', width:80,title: '操作'}
                  ]]
                  ,page: true

              });

              //监听工具条
              table.on('tool(test)', function (obj) {
                  var data = obj.data;
                  var layEvent = obj.event;
                  if (layEvent === 'del') {
                      // layer.msg('启用' + data.id);
                      var stu_num = data.stu_num;
                          layer.confirm('确定删除当前信息吗？', {
                              skin: 'layui-layer-lan',
                              btn: ['确定','返回'] //按钮
                          }, function(){
                              layer.msg('操作正在进行', {icon: 1});
                              $.ajax({
                                  url:path+"/score/delTools",//从数据库中删除这条信息
                                  data:{"stu_num":stu_num},
                                  dataType:"html",
                                  type:"post",
                                  success:function (data) {
                                      if(data == "ok"){
                                          layer.msg("成功删除一条记录!");
                                          location.reload();
                                      }else{
                                          lay.msg("删除失败!");
                                      }
                                  }
                              });
                          }, function(){
                              layer.msg('操作已取消',   {icon: 2});
                          });

                  } else if (layEvent === 'edit') {
                      var type = data.auth_type;
                      if(type=="菜单"){
                          type = 0;
                      }else{
                          type = 1;
                      }
                      var url = data.auth_url;
                      if(url == null || url == undefined){
                          url = '';
                      }
                      var param ='stu_num='+data.stu_num+'&stu_name='+data.stu_name
                          +'&score1='+data.score1+'&score2='+data.score2
                          +'&score3='+data.score3+'&score4='+data.score4
                          +'&score5='+data.score5+'&score6='+data.score6
                          +'&score7='+data.score7+'&score8='+data.score8
                          ;
                      // x_admin_show('编辑权限',path+'/student-info-edit?'+param);
                      x_admin_show('修改学生成绩',path+'/student-score-edit?'+param);
                      layer.msg('修改' + data.stu_name);
                  }else if(layEvent === 'add'){
                      var parent_id = data.id;
                      var auth_layer = data.auth_layer+1;
                      x_admin_show('添加权限',path+'/admin-authedit?parent_id='+parent_id+'&auth_layer='+auth_layer);
                      layer.msg('添加子级' + data.id);
                  }
              });
          });

      </script>
      <!-- 操作列 -->
      <script type="text/html" id="oper-col">
        <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit">修改</a>

      </script>
      <div class="page">
        <div>
          <a class="prev" href="">&lt;&lt;</a>
          <a class="num" href="">1</a>
          <span class="current">2</span>
          <a class="num" href="">3</a>
          <a class="num" href="">489</a>
          <a class="next" href="">&gt;&gt;</a>
        </div>
      </div>

    </div>
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });


      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              $(obj).parents("tr").remove();
              layer.msg('已删除!',{icon:1,time:1000});
          });
      }



      function delAll (argument) {

        var data = tableCheck.getData();
  
        layer.confirm('确认要恢复吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('恢复成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>