<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmwl.dao.DeptMapper">
    <select id="getDepts" resultType="dept">
      select * from dept
    </select>
    <select id="countDept" resultType="int">
        select count(*) from dept
    </select>
</mapper>